<h1>职位列表</h1>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= link_to position,position %></td>
    <td><%= position.company %></td>
    <td><%= link_to position.department, position.department %></td>
    <td><%= link_to t('labels.show'), position %></td>
    <td><%= link_to t('labels.edit'), edit_position_path(position) %></td>
    <td><%= link_to t('labels.destroy'), position, confirm: t('labels.sure?'), method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to '设立职位', new_position_path %>
