<%= simple_form_for @job do |f| %>
  <%= f.input :name %>
  <%= f.input :salary_min %>
  <%= f.input :salary_max %>
  <%= f.input :finished_at %>
  <%= f.input :position_id,:collection => current_company.positions %>
  <%= f.input :desc %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
