<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Salary min:</b>
  <%= @job.salary_min %>
</p>

<p>
  <b>Salary max:</b>
  <%= @job.salary_max %>
</p>

<p>
  <b>Finished at:</b>
  <%= @job.finished_at %>
</p>

<p>
  <b>Company:</b>
  <%= @job.company_id %>
</p>

<p>
  <b>Position:</b>
  <%= @job.position_id %>
</p>

<p>
<%= link_to t('labels.edit'), edit_job_path(@job) %> |
<%= link_to t('labels.back'), jobs_path %>
</p>

<%= button_to "应聘",job_applyings_path(@job), :class => 'btn btn-primary' unless @job.applyinged?(current_user) %>
<%= button_tag "应聘", :disable_with => '已应聘' ,:class => 'btn btn-inverse' if @job.applyinged?(current_user) %>
