<h1>Listing departments</h1>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr>
    <td><%= department.name %></td>
    <td><%= link_to t('labels.show'), department %>
    <%= link_to t('labels.edit'), edit_department_path(department) %>
    <%= link_to t('labels.destroy'), department, confirm: 'Are you sure?', method: :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Department', new_department_path %>
