<h1>Listing applyings</h1>

<table class='table table-striped'>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>Resume</th>
    <th>View at</th>
    <th></th>
  </tr>

<% @applyings.each do |applying| %>
  <tr>
    <td><%= applying.user_id %></td>
    <td><%= applying.job_id %></td>
    <td><%= applying.resume_id %></td>
    <td><%= applying.view_at %></td>
    <td>
      <%= link_to t('labels.show'), applying %>
      <%= link_to t('labels.destroy'), applying, confirm: t('labels.sure?'), method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applying', new_applying_path %>
